mixin SongCard(image, altText, title, description, year, link)
  .song-card
    a(href=link)
      img(src=image, alt=altText, class="song-image")
      .song-info
        h3.title #{title}
        p.description #{description}
        span.year #{year}