mixin Card(id, title, src, alt, prev, next)
  .card(id=id)
    .card-title #{title}
    img(src=src, alt=alt, width="600", height="300")
    .navigation
      if prev
        a(onclick=prev) ←
      else
        span
      if next
        a(onclick=next) →
      else
        span
